@CHARSET "ISO-8859-1";

html,body {
	height: 100%;
	margin: 0px;
	background: #471016 url("bg.jpg") no-repeat top center
		fixed;
	background-size: cover;
	
}

.toptext{
    display: table-cell;
    width: 200px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    border: 1px dotted #656565;
}
.lastnews{
	position: absolute;
	top: 80px;
	left: 1050px;
	width: 170px;
	height: 130px;
	background-color:#CCC;
	backround: #fff;
	border-radius: 16px;
}
.lastnews h4{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	left: 10px;
}

.lastnews #fabric{
	left: 10px;
}

.k-button{
	width: 100px;
	height: 25px;
	background: #3FE6BF;
	border: 1px solid #fff;
	cursor: pointer;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 24px;
	margin-top: 5px;
}
.k-button:hover {
  opacity: 0.8;
   }
.k-button:active {
   	opacity: 0.6;
 }
 
 
