@CHARSET "ISO-8859-1";
body{
	margin: 0;
	text-align: center;
	background-color: #CCC;
}

.topbackgroud{
	float: left;
	width: 100%;
	height: 420px;
	background:url('Tbilisi.png');
	background-size:100% 420px;
	background-repeat:no-repeat;
	background-size:100% 420px;
	background-size: cover;
	-webkit-filter: blur(2px);
	z-index: 0;
}

.toptext{
    display: table-cell;
    width: 200px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    border: 1px dotted #656565;
}
.lastnews{
	position: absolute;
	top: 80px;
	left: 1050px;
	width: 170px;
	height: 130px;
	background-color:#CCC;
	backround: #fff;
	border-radius: 16px;
}
.lastnews h4{
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
}

.k-button{
	width: 100px;
	height: 25px;
	background: #3FE6BF;
	border: 1px solid #fff;
	cursor: pointer;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 24px;
	margin-top: 5px;
}
.k-button:hover {
  opacity: 0.8;
   }
.k-button:active {
   	opacity: 0.6;
 }
 
 
